// sidebar
$menuText:#fff;
$menuActiveText:#838386;
$subMenuActiveText:#c4c4c5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#0b3c58;
$menuHover:#18638e;

$subMenuBg:#636567;
$subMenuHover:#778699;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
